html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main {
    padding-bottom: 4rem;
}

h1 {
    margin: 2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.pokeapi-img {
    display: block;
    margin: 0 auto 2rem;
}

.btn-container {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin: 0 auto 1rem;
}

.pokecard {
    display: grid;
    grid-template-columns: repeat(autofill, 1fr);
    text-align: center;
    text-transform: uppercase;
    border: #333 2px solid;
    border-radius: 10px;
    padding: 1.5rem;

    img {
        height: 190px;
        width: 220px;
    }

    p {
        margin: 0;
    }

    .card-number {
        position: relative;
        z-index: 1;
        font-size: 1.25rem;
        padding: 0.3rem 0;
    }
    .card-number::after {
        z-index: 2;
        position: absolute;
        display: inline-block;
        content: "";
        top: 0;
        left: 48%;
        height: 2rem;
        width: 2rem;
        background-image: url("./images/pokeball.png");
    }
    .card-name {
        font-size: 1.5rem;
    }
    .card-type {
        font-size: 0.825;
    }
}

button {
    display: block;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 50px;
    width: 150px;
    height: 50px;
    background: #fff;
    outline: none;
    cursor: pointer;
}

.normal {
    background-color: rgb(253, 247, 247);
}
.grass {
    background-color: rgb(85, 146, 79);
}
.fire {
    background-color: rgb(146, 89, 79);
}
.water {
    background-color: rgb(79, 89, 146);
}
.bug {
    background-color: rgb(126, 146, 79);
}
.electric {
    background-color: rgb(204, 216, 93);
}
.poison {
    background-color: rgb(97, 79, 146);
}
.psychic {
    background-color: rgb(141, 79, 146);
}
.fairy {
    background-color: rgb(123, 124, 129);
}
.ground {
    background-color: rgb(92, 82, 66);
}
.fighting {
    background-color: rgb(71, 39, 39);
}
.ghost {
    background-color: rgb(25, 25, 73);
}
.dragon {
    background-color: rgb(104, 58, 16);
}
